@charset "utf-8";

/*	
	Assignment 5
	Filename: Hutton_styles
	Author: Cody Hutton
	Date: 3/30/21
	due: 3/30/21

*/

html {
	background-image: url("balloons.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body {
	background: linear-gradient(0deg, darkorchid, mediumspringgreen);
	width: 900px;
	padding: 10px;
	margin: auto;
	border-radius:20px;
}

h1 {
	font-size: 24pt;
	color: skyblue;
	font-family: Chalkduster, fantasy;
}

h2 {
	font-size: 20pt;
	color: mediumaquamarine;
	font-family: "Brush Script MT", "Brush Script Std", fantasy;
	text-decoration: underline;
	text-decoration-color: hotpink;
}

header {
	text-align: center;
	border-radius: 15px;
	padding: 10px;
	background: linear-gradient(180deg, darkorchid, darkcyan);
}

body  nav {
	background: linear-gradient(280deg, darkcyan, darkslategrey);
	padding: 10px;
	margin: auto;
	border-bottom: 15px double mediumspringgreen;
	border-radius: 20px;
}

body  nav  ul  li {
	display: inline-block;
	list-style-type: none;
	border: 10px inset skyblue;
	padding: 5px;
	background: linear-gradient(to left, darkslategrey, hotpink);
	margin: 10px;
	margin-right:35px;
	margin-left:20px
}


body nav  ul  li:hover {
	background: linear-gradient(to right, navy, orchid);
}
body nav ul li > a:hover {
	color: crimson;
}

body nav ul li a {
	color: violet;
	text-decoration: none;
}

body main {
	font-family: Verdana, Geneva, sans-serif; 
	padding: 20px;
	background: linear-gradient(180deg, darkslategrey, lightseagreen);
	color: magenta;
	border-radius: 20px;
	}

main  ul  li  a {
	color: palegreen;
}


body  footer {
	background: linear-gradient(90deg, lightseagreen, mediumspringgreen);
	padding:25px;
	text-align: center;
	border-radius: 20px;
	color: maroon;
	clear: both;
}

body  footer  a {
	color: maroon;
}

body main h3 {
	font-style: italic;
	font-size: 15pt;
	color: #15E5DC;
	text-decoration: underline;
	text-decoration-color: mediumaquamarine;
}



main img {
	float: left;
	border: 5px inset skyblue;
	border-radius: 15%;
	margin-right: 5%;

}

.clearfix {
	clear: both;
}


table {
	  border-spacing: 0px; 
      table-layout: fixed; 
      margin-left: auto; 
      margin-right: auto;
      border: 5px inset #00ff84;
      width: 95%;
      text-align: center;
      border-collapse: collapse;
}

caption {
	caption-side: bottom;
	text-align: left;
	padding: 10px;
	font-size: 15px;
	color: darkblue;
}

td {
	word-wrap:break-word;
	padding: 5px;
}

table a {
	color: yellow;
}

tr:nth-of-type(even) {
	background-color: #68e8cf;
	color: white;
}

tr:nth-of-type(odd) {
	background-color: #1a1eab;
	color: #00eaff;
}
tr:first-of-type{
	background-color: #00eaff;
	border-bottom: 5px solid black;
	color: #002744;
}

form {
	margin: 10px auto;
	width: 85%;
	background: linear-gradient(90deg, deeppink, navy);
	border: 1px solid black;
	border-radius: 9%;
}

fieldset {
	border: 10px solid maroon;
	margin:auto;
	padding: 5px;
	background: linear-gradient(300deg, deeppink, navy);
	color: mediumspringgreen;
	border-radius: 35px;
}

fieldset legend {
	color: aqua;
	border: 5px inset mediumaquamarine;
	border-radius: 15px;
	margin: auto;
	padding: 5px;
	background:linear-gradient(90deg, darkcyan, magenta);
	border-color:maroon;
}
label, select, input {
	width: 45%;
	display: inline-block;
	box-sizing: border-box;
}

input[type="radio"],input[type="checkbox"],p label{
	width: 20%;
	padding: 2px;
}

input[type="submit"]{
margin: 10px auto;
display: block;
background-color: purple;
border: 2px solid darkcyan;
color: mediumspringgreen;
font-weight: bold;
font-size: 25px;
width: 25%;
border-radius: 25px;
border-color: maroon;
}